<div class="card bg-dark text-white">
  <img src="http://assets.rebelcircus.com/blog/wp-content/uploads/2016/09/8d1554d0-66b1-4bec-aa8f-810679e00131_zps02f0d308.jpg" class="card-img img-responsive" alt="...">
  <div class="card-img-overlay">
    <h2 class="card-title">ZOMBIE FACTORY</h2>
    <p class="card-text">The zombie, often portrayed as an undead, flesh-eating, decaying corpse, has enjoyed a popularity surge in recent years. Whether they’re devouring their prey in The Walking Dead or getting their groove on in Michael Jackson’s “Thriller” video, zombies dominate pop culture. But are zombies real? Unlike many other monsters—which are mostly a product of superstition, religion and fear— zombies have a basis in fact, and several verified cases of zombies have been reported from Haitian voodoo culture.</p>
	
	<p>Zombie Traits</p>

	<p>A zombie, according to pop culture and folklore, is usually either a reawakened corpse with a ravenous appetite or someone bitten by another zombie infected with a “zombie virus.”

	Zombies are usually portrayed as strong but robotic beings with rotting flesh. Their only mission is to feed. They typically don’t have conversations (although some may grunt a little).</p>

	<p>Origin of Zombies</p>

	<p>The Ancient Greeks may have been the first civilization terrorized by a fear of the undead. Archaeologists have unearthed many ancient graves which contained skeletons pinned down by rocks and other heavy objects, assumedly to prevent the dead bodies from reanimating.

	Zombie folklore has been around for centuries in Haiti, possibly originating in the 17th century when West African slaves were brought in to work on Haiti’s sugar cane plantations. Brutal conditions left the slaves longing for freedom. According to some reports, the life—or rather afterlife—of a zombie represented the horrific plight of slavery.</p>
	<br>
    <br>
    <br>
    <br>



        <img src="https://media.giphy.com/media/Z4IXspU3iCHlK/giphy.gif" class="img-responsive rounded mx-auto d-block" alt="Triller"/>
        
    
    <br>
    <br>
    <br>
    <br>

    <p class="card-text">To be continued...</p>
  </div>
</div>